
html {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(190, 137, 173);

}

.moving-bg-1 {
    width: 100vw;
    height: auto;
    display: flex;
    z-index: -1;
    animation-name: body-shift;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
}

@keyframes body-shift {
    0% {
        transform: translate(-100vw);
    }
    100% {
        transform: translate(50vw);
    }
}

.moving-bg-2 {
    position: relative;
    width: 100vw;
    height: auto;
    left: 100vw;
    bottom: 100vh;
    display: flex;
    z-index: -2;
    animation-name: body-shift2;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
}

@keyframes body-shift2 {
    0% {
        transform: translate(-100vw);
    }
    100% {
        transform: translate(50vw);
    }
}

.moving-bg-3 {
    position: relative;
    width: 100vw;
    height: auto;
    bottom: 200vh;
    right: 100vw;
    display: flex;
    z-index: -2;
    animation-name: body-shift3;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
}

@keyframes body-shift3 {
    0% {
        transform: translate(-100vw);
    }
    100% {
        transform: translate(50vw);
    }
}

.window-bg-div {
    display: block;
    opacity: .2;
    width: 100vw;
    height: 100vh;
    background: url('/images/rps-bg-overlay-01.svg') repeat;
}

.game-bg {
    width: 420px;
    height: 100vh;
    position: relative;
    margin: auto;
    bottom: 302vh;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    background-color: #502749;
}

#robo-cover-div {
    width: 420px;
    display: block;
    position: relative;
    bottom: 303.5vh;
    margin: auto;
    z-index: 5;
    animation-name: unset;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.robo-cover {
    transform: scaleX(1.0499);
    margin: auto;
    display: block;
    position: relative;
    height: 155px;
}

@keyframes drop-down {
    0% {
        transform: translateY(-20vh);
    }
    65% {
        transform: translateY(0vh);
    }
    80% {
        transform: translateY(-2vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

@keyframes pull-up {
    100% {
        transform: translateY(-25vh);
    }
}

#Robot {
    height: 150px;
    width: auto;
    display: block;
    z-index: 3;
    margin: auto;
    right: 27px;
    top: 11px;
    position: relative;
}

.robo-bg {
    width: 420px;
    height: 160px;
    position: absolute;
    background-color:rgb(224, 243, 54);
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    left: 0;
    right: 0;
    top: -20px;
}

#left-arm, #right-arm {
    animation-name: armPump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#left-arm {
    animation-name: leftArmRotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#right-arm {
    animation-name: rightArmRotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes armPump {
    50% {
        transform: translate(0px, 75px);
    }
}

@keyframes leftArmRotate {
    50% {
        transform: rotate(-5deg);
    }
}

@keyframes rightArmRotate {
    50% {
        transform: rotate(5deg);
    }
}

#robo-head, #head-antennae{
    animation-name: bobbing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bobbing {
    50% {
        transform: translateY(20px);
    }
}

.top-bar {
    height: 15px;
    width:420px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    left: 0;
    right: 0;
    top: 135px;
    background-color:#9b1536;
}

.bottom-bar {
    height: 15px;
    width:420px;
    position: absolute;
    bottom: -.1%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 0;
    background-color: #24918c;
}

#play-button {
    display: block;
    position: relative;
    margin: auto;
    bottom: 369.5vh;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(87, 80, 187);
    color: white;
    background-color: rgb(87, 80, 187);
    font-family: 'Oswald';
    font-size: 20px;
    animation-fill-mode: forwards;
}

#play-again-button {
    display: none;
    position: relative;
    margin: auto;
    bottom: 378.5vh;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(87, 80, 187);
    color: white;
    background-color: rgb(87, 80, 187);
    font-family: 'Oswald';
    font-size: 20px;
    animation-fill-mode: forwards;
}

#play-button[weeWoo]:hover {
    animation-name: weeWoo;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}

#play-again-button[weeWoo2]:hover {
    animation-name: weeWoo2;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}

#score-counter-comp {
    width: 100px;
    height: 75px;
    background-color: rgb(22, 22, 22);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 162px;
    border-radius: 10px;
}

#score-counter-user {
    width: 100px;
    height: 75px;
    background-color: rgb(22, 22, 22);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 5%;
    border-radius: 10px;
}

.tile-style {
    width: 120px;
    height: 100px;
    border-radius: 10px;
    position: relative;
}

.comp-tile-style {
    background-color: rgb(241, 173, 190);
}

.user-tile-style {
    background:rgb(150, 187, 187);
}

.robo-tile-div {
    height: auto;
    width: 400px;
    display: flex;
    position: absolute;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.user-tile-div {
    height: auto;
    width: 400px;
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    z-index: 4;
    left: 0;
    right: 0;
    bottom: 2.5%;
    justify-content: space-between;
}

.paper-tile-style {
    width: 60px;
    height: auto;
}

.paper-left {
    position: relative;
}

.paper-right {
    position: absolute;
}

.comp-paper {
    transform: scaleY(-1);
}

.comp-rock {
    transform: scaleX(-1);
}

.comp-scissors {
    transform: rotate(180deg);
}

.scissors-bottom {
    position: relative;
    z-index: 0;
}

.scissors-top {
    position: relative;
    z-index: 1;
    bottom: 105px;
}

@keyframes weeWoo {
    50% {
        transform: scale(1.09);
    }
}

@media (max-height: 300px) {
    .user-tile-div {
        display: none;
    }
    .bottom-bar {
        display: none;
    }
}

@media (max-width: 420px) {
    #Robot {
        left: -17px;
    }
}
