body {
    padding: 0;
    margin: 0;
    background-color: rgb(187, 150, 187);
}

.game-bg {
    width: 600px;
    height: 100vh;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    background-color: #502749;
}

.dark-columns {
    width: 100px;
    height: 100vh;
    display: block;
    position: relative;
    z-index: 1;
    opacity: .75;
    background-color: #360626;
}

.flag-1 {
    height: 150px;
    width: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 275px;
    top: 283px;
}

.hide-flag-div {
    height: 170px;
    width: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index:1;
    left: 0;
    right: 275px;
    top: 115px;
    background-color: #502749;
}

.hide-flag-div2 {
    height: 170px;
    width: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index:1;
    left: 275px;
    right: 0px;
    top: 115px;
    background-color: #502749;
}

.flag-svg {
    height: 150px;
    width: 100px;
    position: relative;
    z-index: 0;
    animation-name: rollUp;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes  rollUp {
    20% {
        transform: translateY(10px);
    }
    30% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-150px);
    }
}

@keyframes rollDown {
    0% {
        transform: translateY(-150px);
    }
    100% {
        
    }
}

.flag-roll {
    height: auto;
    width: auto;
    z-index: 1;
    position: absolute;
}

.flag-2 {
    height: 150px;
    width: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 275px;
    right: 0;
    top: 283px;
}

#Robot {
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    left: 3px;
    right: 0;
    top: 10px;
    position: absolute;
}

#left-arm, #right-arm {
    animation-name: armPump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#left-arm {
    animation-name: leftArmRotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#right-arm {
    animation-name: rightArmRotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes armPump {
    50% {
        transform: translate(0px, 75px);
    }
}

@keyframes leftArmRotate {
    50% {
        transform: rotate(-5deg);
    }
}

@keyframes rightArmRotate {
    50% {
        transform: rotate(5deg);
    }
}  

#robo-head, #head-antennae{
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    50% {
        transform: translate(0px, 20px);
    }
}

.top-bar {
    height: 15px;
    width:400px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    left: 0;
    right: 0;
    top: 155px;
    background-color:#701028;
}

.bottom-bar {
    height: 15px;
    width:400px;
    position: absolute;
    bottom: 17px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #3e0f64;
}

.robo-tile-div {
    height: auto;
    width: 400px;
    display: flex;
    position: absolute;
    top: 170px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.user-tile-div {
    height: auto;
    width: 400px;
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 31px;
    justify-content: space-between;
}

.tile-style {
    width: 120px;
    height: 100px;
    position: relative;
    background-color: rgb(206, 168, 238);
}

#computer-rock-tile {
    
}

#computer-paper-tile {
    
}

#computer-scissors-tile {
   
}

@media (max-height: 300px) {
    .user-tile-div {
        display: none;
    }
    .bottom-bar {
        display: none;
    }
}

@media (max-width: 600px) {
    .game-bg {
        width: 100%;
    }
    #Robot {
        left: -17px;
    }
}

@media (max-width: 456px) {
    .user-tile-div {
        bottom: 19px;
    }
    .bottom-bar {
        bottom: 5px
    }
}