/* #comp-1-tile {
   
} */

/* #comp-2-tile {
    animation-name: score-reveal-comp;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transform-origin: center;
} */

/* #comp-3-tile {
    
} */

#user-1-tile {
    animation-name: unset;
    animation-duration: .5s;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
}

#user-2-tile {
    animation-name: unset;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

#user-3-tile {
    animation-name: unset;
    animation-duration: .5s;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
}

#user-3-tile:hover, #user-2-tile:hover, #user-1-tile:hover {
    animation-name: unset;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes weeWoo {
    50% {
        transform: scale(1.05);
    }
}

@keyframes score-reveal-comp {
    100% {
        transform: translateY(18vh);
    }
    
}

@keyframes score-reveal-user {
    100% {
        transform: translateY(-18vh);
    }
    
}

@keyframes score-cover-user {
    0% {
        transform: translateY(-15vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

@keyframes user-middle-div-right {
    0% {
        transform: translateY(-15vh);
    }
    50% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateX(20vw)
    }
}

@keyframes user-middle-div-left {
    0% {
        transform: translateY(-15vh);
    }
    50% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateX(-20vw)
    }
}

@keyframes user-right-div-up {
    100% {
        transform: translate(-20.5vw, -18vh);
    }
}

@keyframes user-right-div-down {
    0% {
        transform: translate(-20.5vw, -18vh);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes user-left-div-up {
    100% {
        transform: translate(20.5vw, -18vh);
    }
}

@keyframes user-left-div-down {
    0% {
        transform: translate(20.5vw, -18vh);
    }
    100% {
        transform: translate(0, 0);
    }
}



